<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shiful.android.babycare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".NotificationActivity"></activity>
        <activity android:name=".Vaccine.ViewRequest" />
        <activity android:name=".Vaccine.RequestVaccine" />
        <activity android:name=".Baby.VaccineSchedule" />
        <activity android:name=".Baby.VaccineList" />
        <activity android:name=".Vaccine.VaccineDetailsActivity" />
        <activity android:name=".Vaccine.VaccineActivity" />
        <activity android:name=".HealthCenter.HealthCareDetails" />
        <activity android:name=".HealthCenter.HealthCenterActivity" />
        <activity android:name=".Baby.BabyDetailsActivity" />
        <activity android:name=".Doctor.DoctorDetailsActivity" />
        <activity android:name=".Doctor.DoctorActivity" />
        <activity android:name=".Baby.ViewBaby" />
        <activity android:name=".Baby.AddBaby" />
        <activity android:name=".User.UserProfile" />
        <activity android:name=".Home.PdfActivity" />
        <activity android:name=".Home.SplashActivity" />
        <activity android:name=".User.RegisterActivity" />
        <activity android:name=".User.LoginActivity" />
        <activity
            android:name=".Home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>